/* regole generali 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole */
/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    margin: auto;
    background-image: url(https://travel.thewom.it/content/uploads/sites/4/2022/10/Halloween-treno-harry-Potter.jpg);
}

#card {
    width: 400px;
    height: 400px;
    color: #846a40;
    background-color: #f3ebdf ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    text-align: center;
    line-height: 1.5;
    vertical-align: auto;
}
#card img {
    max-width: 400px;
}


#card:hover {
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.7);
} */ 